div.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .image img {
    margin-right: 0.5em;
  }
}

div.info {
  margin-top: 0.5em;

  a {
    text-align: right;
  }

}

.joinbutton {
  margin-top: 1em;
}