<div>
  <h1 class="pagetitle">Lobbies</h1>
</div>

<div class="container pad" *ngIf='isEmpty(lobbyList)'>
  <p>Waiting for an admin to start a lobby</p>
</div>

<div class="container pad" *ngFor='let lobby of lobbyList | keyvalue'>
  <div class="title">
    <div class="image">
      <img class="white-svg" src="assets/img/group.svg">
    </div>
    <div class="text">
      <h3>{{ lobby.value.playerCount }}</h3>
    </div>
  </div>
  <div class="info">
    <h3>{{ lobby.value.name }}</h3>
    <a href='/profile/{{ lobby.value.ownerId }}'><p class="small">{{ lobby.value.ownerName }}</p></a>
  </div>
  <div class="buttons">
    <div class="button green-bg" [routerLink]="['/game/' + lobby.value.gameId]">View</div>
    <div class="button yellow-bg"
      *ngIf='userIsAdmin()'
      (click)='adminCloseLobby(lobby.value.gameId)'>Close</div>
  </div>
</div>

<div class="container red-bg pad" *ngIf='userIsAdmin()'>
  <div class="title">
    <div class="image">
      <img class="white-svg" src="assets/img/dns.svg">
    </div>

    <div class="text">
      <h3>New Lobby</h3>
    </div>
  </div>
  <form [formGroup]='createLobbyForm' class="mid-space">
    <div>
      <label>Lobby Name</label><br/>
      <input
        type="text"
        placeholder="..."
        [formControl]="createLobbyForm.controls['name']"/>
    </div>
    <div>
      <div 
        class="button"
        (click)="submitCreateLobby()">Create</div>
    </div>
  </form>
</div>
