div.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .image img {
    margin-right: 0.5em;
  }
}

div.info {
  margin-top: 0.5em;

  a {
    text-align: right;
  }

}

.buttons {
  margin-top: 1em;
  display: flex;
  align-items: stretch;

  div {
    flex-grow: 1;

    &:nth-child(2) {margin-left: 1em;}
  }
}