@import './../../styles.scss';

.wrap {
	height: 100%;
	margin: 5em 1em 0 1em;

	#header h1 {
		text-align: center;
		color: $color-text-body;
		font-family: "Roboto", sans-serif;
		margin-bottom: 1em;
		font-weight: 400;
	}

	p.formerror {
		margin-top: 2em;
		font-size: 20px;
		text-align: center;
	}

	.button {
		margin-top: 1em;
	}
}
