@import './../../styles.scss';

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.wrap {
	div.options {
		margin-top: 3em;

		.container {
			text-align: center;
			padding: 0.4em 0 0.2em 0;

			img {
				height: 3em;
			}
		}
	}
}
