
<app-game-status-view [gameInfo]="gameInfo"></app-game-status-view>
<div *ngIf="shouldShow then roleInfo"></div>
<ng-template #roleInfo>

    <div class="roleinfo">
        <div class="role container">
            <div class="role-colour" [class]="gameInfo.localPlayer.role"></div>
            <h2>{{ gameInfo.localPlayer.role }}</h2>
        </div>
        <div class="analyzer-code container">
            <h2>{{ gameInfo.localPlayer.analyzerCode }}</h2>
        </div>
    </div>

    <div class="known-roles">
        <div class="buttons">
        </div>
        <div class="players container">
            <h3>Known Roles</h3>
            <div class="playertile" *ngFor="let player of knownRoles()">
                <p><span [class]="player.role">●</span> {{ player.displayName }}</p>
            </div>
        </div>
    </div>
</ng-template>
