
<app-game-status-view [gameState]="metadata.status"></app-game-status-view>
<div *ngIf="shouldShow then roleInfo"></div>
<ng-template #roleInfo>

    <div class="roleinfo">
        <div class="role container">
            <div class="role-colour" [class]="info.role"></div>
            <h2>{{ info.role }}</h2>
        </div>
        <div class="analyzer-code container">
            <h2>{{ info.analyzerCode }}</h2>
        </div>
    </div>

    <div class="known-roles">
        <div class="buttons">
        </div>
        <div class="players container">
            <h3>Known Roles</h3>
            <div class="playertile" *ngFor="let player of info.knownRoles">
                <p><span [class]="player.role">●</span> {{ player.name }}</p>
            </div>
        </div>
    </div>
</ng-template>
