<div *ngIf="metadata; else noData">
  <div [ngSwitch]="metadata.status">
    <app-lobbypage *ngSwitchCase="'LOBBY'" [metadata]='metadata'></app-lobbypage>
    <app-pregame-page *ngSwitchCase="'PREGAME'" [metadata]='metadata'></app-pregame-page>
    <app-ingame-page *ngSwitchCase="'INGAME'"   [metadata]='metadata'></app-ingame-page>
    <app-postgame-page *ngSwitchCase="'POSTGAME'" [metadata]='metadata'></app-postgame-page>
  </div>
</div>

<ng-template #noData>
  <p>Loading lobby information...</p>
</ng-template>