<div *ngIf="gameData && gameInfo; else noData">
  <div [ngSwitch]="gameData.status">
    <app-pregame-page *ngSwitchCase="'PREGAME'" [gameMetadata]='gameData' [gameInfo]='gameInfo'></app-pregame-page>
    <app-ingame-page *ngSwitchCase="'INGAME'"   [gameMetadata]='gameData' [gameInfo]='gameInfo'></app-ingame-page>
    <app-postgame-page *ngSwitchCase="'POSTGAME'" [gameMetadata]='gameData' [gameInfo]='gameInfo'></app-postgame-page>
  </div>
</div>

<ng-template #noData>
  <p>Loading lobby information...</p>
</ng-template>