<div class="container pad metadata">
  <table>
    <tbody>
      <tr>
        <td>
          <p>Owner:</p>
        </td>
        <td>
          <p>{{ metadata.ownerName }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Date:</p>
        </td>
        <td>
          <p>{{ metadata.dateCreated | date :'short' }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Code:</p>
        </td>
        <td>
          <p>{{ metadata.code }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>