<div class="wrap" *ngIf="lobbyMetadata !== undefined">

  <div class="container pad metadata">
    <h2>{{ lobbyMetadata.name }}</h2>
    <h4>{{ lobbyMetadata.dateCreated | date :'short' }}</h4>
    <p class="small"> {{ lobbyMetadata.ownerName }}</p>
  </div>

  <div class="playerinfo">
    <img class="white-svg" src="/assets/img/group.svg">
    <h3>{{ lobbyPlayers.length }} Player{{ lobbyPlayers.length === 1 ? '' : 's' }}</h3>
  </div>

  <div class="players-and-options">
    <div class="players">
      <div *ngFor="let player of lobbyPlayers" class="tile">
        <div class="status" [class.ready]="player.ready"></div>
        <p>{{ player.displayName }}</p>
      </div>
    </div>

    <div class="options">
      <div *ngIf="isLocalPlayerJoined() then playerJoined; else playerNotJoined"></div>
      <ng-template #playerJoined>
        <div *ngIf="isLocalPlayerReady()" class="button yellow-bg" (click)="setUnready()">Unready</div>
        <div *ngIf="!isLocalPlayerReady()" class="button green-bg" (click)="setReady()">Ready Up</div>
        <div class="button red-bg" (click)="leaveLobby()">Leave</div>
      </ng-template>
      <ng-template #playerNotJoined>
        <div class="button green-bg" (click)="joinLobby()">Join</div>
      </ng-template>

      <div *ngIf="localPlayerIsOwner()" class="button blue-bg" (click)="ownerStartLobby()">Start</div>
    </div>
  </div>
  <div *ngIf="localPlayerIsAdmin()" class="container red-bg pad">
    <div class="heading-with-image">
      <img class="white-svg" src="/assets/img/dns.svg">
      <h3>Admin Zone - Close Lobby</h3>
    </div>
    <div class="button" (click)="adminCloseLobby()">Close</div>
  </div>
</div>