<div class="wrap">
    <h1>Create a Lobby</h1>

    <div class="info">
        <p>Lobby Name</p>
        <input type="text" placeholder="..." [formControl]="lobbyNameControl">
    </div>

    <div class="errors">
        <p class="errormsg small" *ngIf="errorMsg !== ''">{{ errorMsg }}</p>
    </div>

    <div class="buttons stick-to-bottom">
        <div class="button blue-bg" (click)="createLobby()">
            <p>Create</p>
        </div>
        <div class="button red-bg" routerLink="/landing">
            <p>Back</p>
        </div>
    </div>
</div>