<app-game-status-view [gameInfo]="gameInfo"></app-game-status-view>

<div *ngIf="waitingForLocalPlayer() then killSelector; else waitingList"></div>

<ng-template #waitingList>
    <div class="waiting-list">
        <h2>Waiting on players</h2>
        <div class="player container" *ngFor="let player of gameInfo.waitingFor"><p>{{ player.displayName }}</p></div>
    </div>
</ng-template>

<ng-template #killSelector>
    <app-game-death-selector *ngIf="gameInfo" [players]="gamePlayersFiltered()" [showUnknown]="false" (confirmKiller)="confirmKill($event)"></app-game-death-selector>
</ng-template>