<app-game-status-view [metadata]="metadata"></app-game-status-view>

<div *ngIf="waitingForLocalPlayer() then killSelector; else waitingList"></div>

<ng-template #waitingList>
    <div *ngIf="awaitingKills.length > 0" class="kill-list">
        <h2>Waiting on players</h2>
        <div class="player container" *ngFor="let player of awaitingKills"><p>{{ player.name }}</p></div>
    </div>
</ng-template>

<ng-template #killSelector>
    <app-game-death-selector *ngIf="info" [players]="info.players" [showUnknown]="false" (confirmKiller)="confirmKiller($event)"></app-game-death-selector>
</ng-template>