<div class="wrap">
    <div class="logo">
        <p>image here</p>
    </div>

    <div class="buttons">
        <div class="button full-wide">
            <p>How to Play</p>
        </div>
        <div class="button green-bg" [routerLink]="['/lobbysearch']">
            <p>Join a Lobby</p>
        </div>
        <div class="button blue-bg" routerLink="/createlobby">
            <p>Create a Lobby</p>
        </div>
        <div class="button">
            <p>Your Profile</p>
        </div>
        <div class="button">
            <p>Announcements</p>
        </div>
    </div>
</div>