.wrap {
    display: flex;
    flex-direction: column;

    .logo {
        min-height: 40vh;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .button {
            flex-basis: 48%;
            margin-top: 1.3em;

            &.full-wide {
                flex-basis: 100%;
            }
        }
    }

    .stick-to-bottom {
        padding: 1em;
    }
}