@import './../../styles.scss';

.wrap {
	margin: 3em 2em;

	.heading {
		text-align: center;
		margin-bottom: 2em;
		color: $color-text-body;
		font-family: "Roboto", sans-serif;
		margin-bottom: 1em;
		font-weight: 400;
	}

	input {
		width: 100%;
	}

	.button {
		margin-top: 2em;
	}

	.formError {
		text-align: center;
		font-size: 20px;
		margin-top: 2em;
	}
}
