<div class="wrap">
	<div class="heading">
		<h1>Reset Password</h1>
	</div>

	<form [formGroup]="resetForm" class="large-space">
		<div>
			<label>Username</label>
			<input
				type="text"
				placeholder="..."
				[class.error]="shouldShowValidation('username')"
				[formControl]="resetForm.controls['username']" />
			<p class="errormsg small"
				 *ngIf="shouldShowValidation('username')">
				Required
			</p>
		</div>

		<div>
			<label>Old Password</label>
			<input
				type="password"
				placeholder="..."
				[class.error]="shouldShowValidation('defaultPassword')"
				[formControl]="resetForm.controls['defaultPassword']" />
			<p class="errormsg small"
				 *ngIf="shouldShowValidation('defaultPassword')">
				Required
			</p>
		</div>

		<div>
			<label>New Password</label>
			<input
				type="password"
				placeholder="..."
				[class.error]="shouldShowValidation('newPassword')"
				[formControl]="resetForm.controls['newPassword']" />
			<p class="errormsg small"
				 *ngIf="shouldShowValidation('newPassword')">
				Required
			</p>
		</div>

		<div
			(click)="onSubmit()"
			class="button container">Go</div>

		<p
			class="errormsg formError"
			*ngIf="errorMsg !== ''">{{ errorMsg }}</p>
	</form>
</div>

