/* You can add global styles to this file, and also import other style files */
$color-darkest: #202020;
$color-background: #111111;
$color-text-body: #FBFBFB;
$color-text-placeholder: #B2B2B2;
$color-red-deep: #9B2C2C;
$color-blue-deep: #354E8C;
$color-green-deep: #417A38;
$color-yellow-deep: #B8802D;

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: $color-background;
	min-height: calc(100% - 0.8em);
	height: calc(100% - 0.8em);
}

body {
	padding: 0.8em 0.8em 0 0.8em;
}

h1 {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: white;
	font-size: 2em;
	text-align: center;
}

h2 {
	font-family: "Roboto", sans-serif;
	font-size: 1.4em;
	color: $color-text-body
}

h3 {
	font-family: "Roboto", sans-serif;
	font-size: 1.3em;
	color: $color-text-body;

}

h4 {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: $color-text-placeholder;
}

h5 {
	font-family: "Roboto", sans-serif;
	font-size: 16pt;
}

a {
	text-decoration: none;
}

p {
	font-family: "Roboto", sans-serif;
	font-size: 1em;
	color: $color-text-body;

	&.errormsg {
		color: $color-red-deep;
	}

	&.small {
		font-size: 1em;
	}
}

/* Pre-input text field label */
label {
	font-size: 10pt;
	color: $color-text-body;
	font-family: 'Roboto', sans-serif;
}

/* Background color modifiers */
.green-bg { background-color: $color-green-deep !important; }
.red-bg   { background-color: $color-red-deep !important; }
.blue-bg  { background-color: $color-blue-deep !important; }
.yellow-bg { background-color: $color-yellow-deep !important; }

/* Base container class */
div.container {
	background-color: $color-darkest;
	box-shadow: 0px 3px #000000;
	border-radius: 10px;
	margin-bottom: 1em;
}

.heading-with-image {
	display: flex;
	align-items: flex-start;
	justify-items: center;
	margin-bottom: 0.8em;

	img {
		margin-right: 0.5em;
	}
}

/* Text/Password input styling */
input[type=text], input[type=password] {
	background-color: rgba(0,0,0,0); 
	border: 0;
	border-bottom: 1px solid $color-text-body;
	border-radius: 0;

	color: $color-text-placeholder;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	padding-left: 10px;
	padding-bottom: 5px;

	width: calc(100% - 10px);

	&.error {
		border-bottom: 1px solid $color-red-deep;
	}
}

// Hack to turn black SVGs white
.white-svg {
	filter: invert(90%) sepia(56%) saturate(16%) hue-rotate(38deg) brightness(109%) contrast(100%);
}

/*
	Spacing for divs inside form groups. Divs should represent
	some logically associated chunk of input information.
*/
form {
	&.large-space > div { margin-top: 2em; }
	&.mid-space > div { margin-top: 1em; }
}

/* Universal padding option */
.pad {
	padding: 1em 0.7em 1em 0.7em;
}

/* Button styling */
.button {
	height: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $color-text-body;
	font-family: "Roboto", sans-serif;
	font-size: 1em;

	background-color: $color-darkest;
	box-shadow: 0px 3px #000000;
	border-radius: 10px;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	    user-select: none; /* Non-prefixed version, currently
				  supported by Chrome, Edge, Opera and Firefox */
}

/* Additional 'noselect' class which disabled highlighting text */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
