<div *ngIf="gameInfo">
    <div *ngIf="showDeathSelector then deathSelector; else default"></div>

    <ng-template #deathSelector>
        <app-game-death-selector [players]="gameInfo.gamePlayers" (confirmKiller)="confirmKiller($event)"
            (cancel)="cancelConfirm()"></app-game-death-selector>
    </ng-template>

    <ng-template #default>
        <app-game-full-view [gameInfo]="gameInfo" [shouldShow]="shouldShowInfo"></app-game-full-view>

        <div *ngIf="gameInfo.localPlayer.isAlive; else dead">
            <div class="stick-to-bottom">
                <div class="button red-bg" (click)="startConfirmDeath()">Confirm Your Death</div>
                <div class="button green-bg" (touchstart)="showInfo()" (touchend)="hideInfo()" (mousedown)="showInfo()"
                    (mouseup)="hideInfo()">Hold: Show Info</div>
            </div>
        </div>

        <ng-template #dead>
            <div class="dead">
                <div class="container analyzer">
                    <h2>Analyzer Code: {{ gameInfo.localPlayer.analyzerCode }}</h2>
                </div>
                <div class="warning">
                    <p>You're Dead.</p>
                    <p>Place your role card face down on the ground in front of you.</p>
                </div>
            </div>
        </ng-template>
    </ng-template>
</div>